.footer {
  width: 100%;
  font-size: 1.8em;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--primary-color);
  color: var(--white-color);

  .footerContainer {
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: var(--spaces-xs) var(--spaces-l);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 2rem;

    > ul {
      display: flex;
    }
  }
}

@media (min-width: 700px) {
  .footer .footerContainer {
    display: flex;
    justify-content: space-between;
    padding: var(--spaces-xs) var(--spaces-2xl);
  }
}
