.linkCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .todoItemImg {
    height: 65px;
    width: 100%;
    position: relative;

    img {
      object-fit: cover;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
    }
  }

  .todoItem {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--card-padding);

    .todoItemButtons {
      width: 100%;
      z-index: 4;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 4rem;
      padding-bottom: var(--spaces-m);

      h3 {
        text-align: center;
      }
    }

    .seeMore {
      border: solid 1px var(--secondary-color);
      border-radius: var(--button-radius);
      padding: var(--button-padding-small);
      margin-top: 3rem;

      &:hover {
        background-color: var(--secondary-color);
        color: var(--white-color);
      }
    }
  }
}
