.header {
  width: 100%;
  z-index: 9;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--primary-color);
  color: var(--white-color);

  .nav {
    font-size: 1.8em;
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: var(--spaces-m) var(--spaces-l);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    li {
      display: flex;
      align-items: center;

      a {
        display: flex;
      }
    }
  }
}
