.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 304px;
  height: calc(100% - 1rem);
  min-height: 14rem;
  margin-bottom: 10px;
  background: hsla(0, 0%, 100%, 0.902);
  box-shadow: 0 3.2px 12.1px rgba(90, 82, 82, 0.251);
  border-left: 8px solid var(--lighten-neutral-color);
  border-radius: var(--card-border-radius);
  overflow: hidden;
  transition: transform 0.2s;
}

.status--completed {
  border-left: 8px solid var(--success-color);
}
