.defaultLayoutMain {
  width: 100%;
  height: calc(var(--height-screen) - (var(--size-header) + var(--size-footer-mobile)));
  position: absolute;
  top: var(--size-header);
  display: flex;
  flex-direction: column;
  overflow: auto;
}

@media (min-width: 394px) {
  .defaultLayoutMain {
    height: calc(var(--height-screen) - (var(--size-header) + var(--size-footer-tablet)));
  }
}

@media (min-width: 700px) {
  .defaultLayoutMain {
    height: calc(var(--height-screen) - (var(--size-header) + var(--size-footer-desktop)));
  }
}
